.Pro_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.size{
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-weight: bold;
}
.size_border{
    border: 2px solid grey;
    border-radius: 50%;
    width: 20px;
}
h5{
    font-size: 20px;
}
button{
    width: 180px;
    height: 45px;
    background-color: #fff;
  
    border-radius: 45px;
    font-size: 16px;
    color: #333;
   font-weight: 800px;
}

